<!-- Modal -->
<div class="modal fade" id="modal_coverags_plan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel" style="text-transform: uppercase;">PLAN <%=@description_plan%></h4>
      </div>
      <div class="modal-body">


        <div class="panel panel-default printable">
          <div class="panel-heading"><%=@insured[0]%> (Tomador)</div>
          <div class="panel-body">
            <p><%=@insured[1]%></p>
            <p>Póliza Nº <%=@insured[2]%></p>
            <p>Vigencia <%=@insured[3].strftime("%d/%m/%Y")%> al <%=@insured[4].strftime("%d/%m/%Y")%></p>            
          </div>
          <%if @coverags_plan.length>0%>
            <table class="table">
              <thead>
                <tr>
                  <th >Coberturas</th>
                  <th style="text-align:right">Suma Asegurada</th>
                  <th style="text-align:right">Prima Cobertura</th>                          
                </tr>
              </thead>
              <tbody>

                <%@coverags_plan.each do |cov|%>  
                  <tr>
                    <td><%=cov[0]%></td>
                    <td align="right"><%= number_to_currency(cov[1], locale: :es) %></td>
                    <td align="right"><%= number_to_currency(cov[2], locale: :es) %></td>
                    
                  </tr>
                <%end%>
                              
              </tbody>
            </table>  
          <%else%>    
             <table class="table">
              <thead>
                <tr>
                  <th >No hay coberturas disponibles para este plan</th>     
                </tr>
              </thead>   
             </table> 
          <%end%>
        </div>
        <div  class="row">
          <div class="col-md-12">
            <span class="badge bg-info pull-right" style="font-size: 14px!important;">
              Prima total: <%= number_to_currency(@total_bonus, locale: :es) %>
            </span>
          </div>  
        </div>  
      </div>
      <div class="modal-footer">        
      
        <%= link_to '<i class="fa fa-reply"></i> Volver'.html_safe, get_policy_plans_intermediary_renewals_path(:token=>@token, :idpolicy=>@policy_id),:remote=>true, class:"btn btn-primary non-printable", "data-loading-text"=>"Procesando...", :onclick=>"$(this).button('loading');"%>

        <%= link_to '<i class="fa fa-print"></i> Imprimir '.html_safe, 'http://www.lavitalicia.com', :onclick => 'window.print();return false;',  class:"btn btn-primary non-printable"%>

        <%if @ind_current=="N"%>
          <%= link_to '<i class="fa fa-check"></i> Cambiar Plan'.html_safe, prerenew_by_policy_intermediary_renewals_path(:token=>@token, :idpolicy=>@policy_id, :descplan=>@description_plan, :bonus=>@total_bonus, :product_code=>@product_code, :plan_code=>@plan_code, :plan_version=>@plan_version),:remote=>true, class:"btn btn-primary non-printable", "data-loading-text"=>"Procesando...", :onclick=>"$(this).button('loading');"%>
        <%end%>

      </div>
    </div>
  </div>
</div>