- set_meta_tags :title => "Consulta de Asegurabilidad | Seguros La Vitalicia C.A."

- description "Consulta de Asegurabilidad  para proveedores de Seguros La Vitalicia" 


#content.app-content.non-printable{role: "main"}

  .p-h-md.p-v.bg-white.box-shadow.pos-rlt
    .pull-right.hidden-xs.w
    %h3.no-margin Consulta de Asegurabilidad

  .p-md
    .panel.panel-default
      .panel-heading{style: "text-transform: uppercase;"}
        = "Proveedor: #{@name_prvdr}"
      .panel-body
        #alert-container-provider-insurabilities
          .alert.alert-warning.alert-dismissible.fade.in{role: "alert", style: "margin-bottom:0px"}
            %button.close{type: "button", "data-dismiss"=>"alert", 'aria-label'=>"Close"}
              %span{"aria-hidden"=>"true"} ×
            %i.fa.fa-info-circle  
            %strong Esta consulta 
            permite verificar si el paciente tiene p&oacute;liza con La Vitalicia as&iacute; como el deducible de la misma. Si el paciente es menor de edad, debe introducir la c&eacute;dula del titular.
          - flash.each do |key, value|
            .alert.alert-danger.alert-dismissible.fade.in{:role => "alert", :style => "margin-bottom:0px;margin-top:3px"}
              %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
                %span{"aria-hidden" => "true"} &times;
              %i.fa.fa-ban    
              %strong
                = value  
      
        #searh_container{:align => "center", :style=>"padding-top:6px"}        
          = form_for '', html: {:id => 'adv_search_form' , :method => :get, :class=> "form-inline" },  :url => { :controller => "insurabilities", :action => "index"} do |f|
            = f.hidden_field :token, :value => @token
            .panel.panel-default
              .panel-body
                .form-group
                  %label.sr-only{:for => "area_code"} Código de area                  
                  = f.collection_select :area_code, SelectComboCollections.area_codes,:first,:last, {:prompt => "Código de área",  :selected => @area_code},{:class=>'form-control', "data-placeholder" => "Código de área", :style=>"margin-bottom: 5px;" }
                .form-group
                  %label.sr-only{:for => "mobile_phone"} Número de telefono                                    
                  = f.text_field :mobile_phone, :class=>"form-control", :placeholder=>"Número de telefono", :value => @mobile_phone, :style=>"margin-bottom: 5px;" 
                &nbsp;
                &nbsp;  
                .form-group  
                  %label.sr-only{:for => "document_type"} Tipo de documento
                  = f.collection_select :document_type, SelectComboCollections.doc_types,:first,:last, {:prompt => "Tipo de documento",  :selected => @document_type},{:class=>'form-control', "data-placeholder" => "Tipo de documento", :style=>"margin-bottom: 5px;" }
                .form-group
                  %label.sr-only{:for => "document_number"} Número de documento                                    
                  = f.text_field :document_number, :class=>"form-control", :placeholder=>"Número de documento", :value => @document_number, :style=>"margin-bottom: 5px;"   
                &nbsp;  
                .input-group                
                  .input-group-btn
                    = f.submit "Buscar Asegurado", :class=>"btn btn-primary", :style=>"margin-bottom: 5px;", 'data-no-turbolink' => true, "data-loading-text"=>"Procesando...", :onclick=>"$(this).button('loading');"
                    = link_to 'Reiniciar Búsqueda', provider_insurabilities_path(:token=>@token), :class=>"btn btn-primary", :style=>"margin-bottom: 5px;"

            #detail_container{:align => "left"}                
              .panel.b-a
                .panel-heading
                  Asegurados encontrados                 
                  %span.badge.bg-info 
                    - if @insureds.present?
                      =@insureds.count||0
                    - else
                      0  
                - if @insureds
                  - if @insureds.count > 0
                    .panel-body.grey-body-panel
                      .row.text-center
                        - # process the first element of the record set
                        .col-sm-4{:style=>"padding-right:5px;padding-left:5px"}  
                          = link_to provider_insurabilities_show_insured_path(:token=>@token, :insured=>0), :remote=>true do  
                            .panel.bg-primary.pos-rlt{:style=>"margin-bottom: 5px;", :class=>"#{0}"}
                              %span{:class=>"arrow bottom b-primary #{0}"}
                              .panel-body   
                                %i.fa.fa-certificate                               
                                = @insureds[0][5] #nombre
                                = "(#{(@insureds[0][8]=='S' ? 'Titular' : @insureds[0][6])})"
                        - # process the next elements of the record
                        - @insureds[1..-1].each_with_index do |insured, index|                      
                          .col-sm-4{:style=>"padding-right:5px;padding-left:5px"}  
                            = link_to provider_insurabilities_show_insured_path(:token=>@token, :insured=>index+1), :remote=>true do  
                              .panel.bg-info.pos-rlt{:style=>"margin-bottom: 5px;", :class=>"#{index+1}"}
                                %span{:class=>"arrow bottom b-info #{index+1}", :style=>"display:none"}
                                .panel-body  
                                  %i.fa.fa-user                              
                                  = insured[5] #nombre                                  
                                  = "(#{(insured[8]=='S' ? 'Titular' : "#{insured[6].length>9 ? "#{insured[6].first(9)}.." : insured[6] }" )})"

                    -@insureds.each_with_index do |insured, index|                       
                      .panel-footer{:style=> index==0 ? "display:true" :  "display:none", :id=>"panel_insured_#{index}"}
                        .well
                          %h3 
                            = insured[5] #nombre                          
                            &nbsp;

                            - if insured[10] =="ACT"
                              %span.label.bg-success{:style=>"font-size: 55%;"} ACTIVO
                            
                            - else  
                              %span.label.bg-danger{:style=>"font-size: 55%;"} NO ACTIVO
                          %h4
                            = "Póliza Nº #{insured[9]}"
                          %h4
                            = SelectComboCollections.doc_types[insured[2]] #doctype
                            = ": #{insured[3]}" #numdoc
                          
                          %h4
                            = "La póliza tiene un deducible de #{number_to_currency(insured[7], locale: :es) }" #deducible
                          .row{:style=>"padding-top:10px"}
                            .col-md-6
                              = link_to provider_insurabilities_show_modal_ticket_request_path(:token=>@token, :policy_id=>insured[0], :insured_number=>insured[1], :insured_name=>insured[5], :area_code=>@area_code, :mobile_phone =>@mobile_phone), :remote=>true, :style=>"margin-bottom: 5px;", :class=>"button btn btn-primary btn-lg btn-block creating", "data-loading-text"=>"Procesando...", :onclick=>"$(this).button('loading');" do 
                                %i.fa.fa-check
                                Realizar Verificación de Asegurabilidad
                            .col-md-6
                              = link_to provider_insurabilities_list_recent_tickets_path(:token=>@token, :policy_id=>insured[0], :insured_number=>insured[1], :policy_number=>insured[9], :insured_name=>insured[5], :doc_type=>insured[2], :doc_number=>insured[3]), :remote=>true, :style=>"margin-bottom: 5px;", :class=>"button btn btn-primary btn-lg btn-block recents", "data-loading-text"=>"Procesando...", :onclick=>"$(this).button('loading');" do 
                                %i.fa.fa-clock-o
                                Tickets Recientes  
                  -else
                    .panel-footer
                      .well                        
                        %h4 
                          %i.fa.fa-warning
                          No se han encontrados pacientes validos con los datos ingresados              
                -else
                  .panel-footer
                    .well
                      %h4 Para obtener resultados de la búsqueda debe ingresar datos validos del paciente            
                  
                      
                    

#modal_container_ticket_request
#modal_container_recent_tickets

